  *,
  *::after,
  *::before {
      box-sizing: border-box;
  }

  :root {
      --cor-titulo: #4D4D4D;
      --cor-texto: #000;
      --cor-card-escuro: #273041;
      --cor-card-claro: #214e88;
      --cor-clara: #fff;

  }

  body,
  h1,
  h2,
  p,
  figure,
  .links-menu {
      margin: 0;
      padding: 0;
      list-style: none;
  }

  html {
      font-size: 16px;
  }

  body {
      font-family: Raleway, Readex Pro;
      color: var(--cor-texto);
  }

  h2,
  h3 {
      font-family: Readex pro;
  }  

  h2{ text-align: center;}

  img {
      max-width: 100%;
  }

  a {
      text-decoration: none;
  }

  .titulo {
      font-family: Raleway, sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.5rem;

      a {
          background-color: var(--cor-escura);
          color: var(--cor-clara);
          padding: 0.3rem 1rem;
          border-radius: 4px;
      }
  }

  .topo {
      z-index: 5;
      position: sticky;
      top: 0;
      background-color: var(--cor-clara);

      .limitador {
          height: 12vh;
          max-width: 1000px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
      }
  }

  .limitador {
      width: 95vw;
      margin: auto;
  }

  .titulo-menu a {
      color: var(--cor-escura);
      font-size: 1.2rem;
      padding: 1rem;
      display: inline-block;
  }

  .menu a:hover,
  .menu a:focus {
      background-color: aliceblue;
  }

  .links-menu {

      display: none;

      a {
          color: var(--cor-escura);
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }

  .links-menu.aberto {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: absolute;
      left: 0;
      right: 0;
      background-color: var(--cor-clara);
  }

  */ .limitador {
      width: 95vw;
      /* para media queries maiores 38vw*/
      margin: auto;
      /* background-color: royalblue;  */

  }



  /* footer */

  .destaque {
      background-image: url(../imagens/background-image-01.jpg);
      height: 88vh;
      background-attachment: fixed;
      position: sticky;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2,
      p {
          color: var(--cor-clara);
          text-align: center;
          font-size: 40px;
          font-family: Readex pro;

          h2 {
              font-size: clamp(3rem, 10vw, 7rem);
          }

      }
  }


  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
      text-decoration: none;
  }

  /* Inicio - estilização de conteudo do main */
  .apresentacao {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      padding: 1rem;
      max-width: 1200px;
      margin: 0 auto;
  }

  .apresentacao h2 {
      font-size: 2.4rem;
  }

  .apresentacao p {
      font-size: 1.2rem;
      line-height: 2rem;
  }

  .conteiner-list-cards {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      max-width: 1200px;
      margin: 0 auto;
      padding: 1rem;
  }

  .conteiner-list-cards>h2 {
      font-size: 2.1rem;
      text-align: center;
  }

  .cards-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

  }

  .card {
      background-color: var(--cor-card-escuro);
      width: 100%;
      max-width: 400px;
      padding: 2rem;
      color: #fafafa;
      border-radius: 8px;
  }

  .card h2 {
      font-size: 1.9rem;
      margin-bottom: 2rem;
  }

  .card li {
      margin-bottom: 1rem;
      font-size: 1.1rem;
  }

  .card a {
      display: flex;
      align-items: center;
      justify-content: center;

      color: #fafafa;
      background-color: gray;

      width: 100%;
      height: 44px;

      border-radius: 8px;

      margin-top: 2rem;

      transition: all 0.4s;
      text-transform: uppercase;

      font-weight: 600;
  }

  .card a:hover {
      background-color: rgb(93, 105, 131);
      transform: scale(1.03);
  }

  /* 
    - Aqui eu não mexi em nada porque eu nao lembro como era o teu layout 
    - Deixei só uma cor de fundo pra sinalizar mesmo.
  */
  .sobre-nos {
      background-color: var(--cor-card-claro);
      padding: 0.9rem;
      color: var(--cor-clara);
      text-align: center;
      border-radius: 4px;

      h2 {
          margin-bottom: 17px;
      }
  }

  .quem-somos-cards {
      background-color: var(--cor-card-escuro);
      padding: 0.5rem;
      color: var(--cor-clara);
      text-align: center;
      border-radius: 4px;
      padding: 0.8rem;

      h2 {
          margin-bottom: 12px;
      }



  }

  .img-quem-somos {
      text-align: center;

  }

  .contato {
      text-align: center; 

      

      a {
          color: var(--cor-clara);
          background-color: var(--cor-card-claro);
          max-width: 70px;
          height: 45px;
          width: 50%;
          border-radius: 7px;
          padding: 10px;
          transition: background-color 0.3s ease;



      }
  }


  .conteiner-card-servicos {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      flex: auto;
      color: var(--cor-clara);
      gap: 30px;
  }

  .card-servicos {
      background-color: var(--cor-card-escuro);
      border-radius: 8px;
      padding: 0.9rem;
      line-height: 30px;
      width: 400px;
      height: 220px;
  }

  /* Fim - estilização de conteudo do main */

  /* Inicio - Estilização do footer */
  footer {
      margin-top: 35px;
      background-color: rgb(66, 66, 66);

      display: flex;
      flex-direction: column;

      padding: 1rem;
  }

  .footer-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
  }

  .mapa-do-site h2 {
      margin-bottom: 1rem;
  }

  .mapa-do-site li {
      margin-bottom: 0.6rem;
      list-style: none;
  }

  .mapa-do-site li a {
      color: #fafafa;
      font-size: 1.1rem;
      transition: all 0.3s;
  }

  .mapa-do-site li a:hover {
      color: rgb(51, 67, 209);
  }

  .copyright {
      text-align: center;

      padding: 1rem;
  }

  /* Fim - Estilização do footer */

  .list-servicos {

      justify-content: center;
      text-align: left;

      div {
          line-height: 25px;
          margin-left: 25px;
      }
  }

  .conteudo-suporte {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      text-align: left;
      gap: 40px;
      /* margin: 10px;         */
      /* margin: bottom 20px; ; */

      div {
          line-height: 25px;

      }
  }

  .conteudo-suporte-2 {
      /* essa classe foi feita para inverter a outra classe*/
      display: flex;
      justify-content: center;
      text-align: left;
      /* margin: 10px;         */
      /* margin: bottom 20px; ; */

      div {
          line-height: 25px;

      }
  }

  .conteudo-servicos {
      display: flex; 
      margin-top: 30px; 
  } 

  form {
    max-width: 500px;
    margin: auto;
}
 
label {
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}
 
form div {
    margin-bottom: 1rem;
}
 
input,
select,
textarea {
    width: 100%;
    border: none;
    padding: 6px;
    height: 40px;
    border-radius: 4px;
    background-color: lightgray;
}
 
textarea {
    height: auto;
}
 
button {
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
}
 
button:hover,
button:focus {
    background-color: darkblue;
    cursor: pointer;
    transform: scale(1.05);
}


  @media screen and (min-width: 700px) {

      .titulo-menu {
          display: none;
      }

      .links-menu {
          display: flex;
          gap: 1rem;
      }

      .menu {
          width: 60%;
      }


  }

  @media screen and (max-width: 700px) {
      .footer-container {
          display: flex;
          flex-direction: column;

          img {
              margin-bottom: 40px;
          }


      }

      .conteiner-card-servicos {
          display: flex;
          flex-direction: column;
          gap: 30px;
      }



      .list-servicos {
          div {
              line-height: 25px;
              margin-left: 25px;
          }
      }

      .conteudo-suporte {

          justify-content: center;
          text-align: left;
          margin: 10px;
          margin: bottom 20px;
          ;

          div {
              line-height: 25px;
              margin-left: 25px;
          }
      }
  }


  .ajuste{
    padding: 2rem;
  }